[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "fzf-tab-completion"]
	path = fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion
[submodule "oh-my-zsh-plugins/zsh-autosuggestions"]
	path = oh-my-zsh-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh-plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
